.form-control-statsagg {
    display: block;
    width: 100%;
    height: 24px;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control-statsagg:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control-statsagg:-moz-placeholder {
    color: #999999;
}

.form-control-statsagg::-moz-placeholder {
    color: #999999;
}

.form-control-statsagg:-ms-input-placeholder {
    color: #999999;
}

.form-control-statsagg::-webkit-input-placeholder {
    color: #999999;
}

.form-control-statsagg[disabled],
.form-control-statsagg[readonly],
fieldset[disabled] .form-control-statsagg {
    cursor: not-allowed;
    background-color: #eeeeee;
}

textarea.form-control-statsagg {
    height: auto;
}

.form-control-datetime {
    display: block;
    height: 26px;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-group {
    margin-bottom: 7px;
}

#page-content-wrapper {
    width: 100%;
}

h2, .h2 {
    font-size: 28px !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.create-alert-form-row {
    margin-left: -15px !important;
}

.create-alert-suspension-th{
    min-width: 100px !important;
    padding-right: 7px !important;
}

.col-xs-6 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.col-md-4-min-width-statsagg {
    min-width: 350px !important;
}

.content-header {
    height: 40px;
}

.content-header h1 {
    margin: 0;
    display: inline-flex;
}

.content-header h2 {
    margin: 0;
    display: inline-flex;
}

.content-header-h2-min-width-statsagg {
    min-width: 350px !important;
}

#menu-toggle {
    display: none;
}

.inset {
    padding: 10px;
}

.label_small_margin {
    margin-bottom: 0px !important; 
}

table.dataTable thead > tr > th {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.statsagg_button_no_shadow {
    text-shadow: none !important;
}

.statsagg_force_word_wrap {
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.statsagg_force_word_break {
    word-break: break-all;
}

.statsagg_danger_preview {
    color: #A94442 !important;
}

.statsagg_caution_preview {
    color: #8A6D3B !important;
}

.statsagg_alert_suspension_alert_associations_preview {
    color: #31708F !important;
}

.statsagg_forget_metrics_preview {
    color: #31708F !important;
}

.statsagg_merged_regex_metrics_preview {
    color: #31708F !important;
}

.statsagg_nav_bar_home_link  {
    margin-bottom: 0;
    background-color: transparent;
    color: #C0C0C0 !important;
    font-size: 28px !important;
    padding-left: 10px !important;
}

.statsagg_nav_bar  {
    margin-bottom: 0;
    color: black !important;
    background-color: #000 !important;
    background-image: none !important;
}

.statsagg_nav_bar > div > ul > li > a{
    color: #C0C0C0 !important;
    background-color: transparent;
}

.statsagg_nav_bar > div > ul > li > a:hover {
    color: #C0C0C0 !important;
    background-color: transparent;
}

.statsagg_nav_bar > div > ul > li > a:focus {
    color: #C0C0C0 !important;
    background-color: transparent;
}

.yadcf-filter {
    color: rgba(0, 0, 0, 0.42) !important;
    width: 100% !important;
    height: 30px !important;
    padding-left: 3px !important;
    font-size: 12px !important;
    font-weight: normal !important;
    background-color: #FFF !important;
    background-image: none !important;
    border: 1px solid #CCC !important;
    border-radius: 4px !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s !important;
}

.yadcf-filter-wrapper {
    margin-left: 0px !important;
    width: 100% !important;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block !important;    
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #000 !important;
}

.navbar-nav {
    float: left !important;
    margin: 0 !important;
}
.navbar-nav > li {
    float: left !important;
}
.navbar-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

ul.ColVis_collection {
    width: 230px !important;
}

button.ColVis_Button, ul.ColVis_collection li {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

input[type="search"] {
    margin-left: 5px !important;
    margin-right: 15px !important;
}

.tt-dropdown-menu {
    border: 1px solid rgba(255, 0, 0, 0.44) !important;
}