<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <listener>
        <listener-class>com.pearson.statsagg.controller.ContextManager</listener-class>
    </listener>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.pearson.statsagg.webui.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MetricGroups</servlet-name>
        <servlet-class>com.pearson.statsagg.webui.MetricGroups</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MetricGroups</servlet-name>
        <url-pattern>/MetricGroups</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MetricGroupAssociations</servlet-name>
        <servlet-class>com.pearson.statsagg.webui.MetricGroupAssociations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MetricGroupAssociations</servlet-name>
        <url-pattern>/MetricGroupAssociations</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MetricGroupDetails</servlet-name>
        <servlet-class>com.pearson.statsagg.webui.MetricGroupDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MetricGroupDetails</servlet-name>
        <url-pattern>/MetricGroupDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateMetricGroup</servlet-name>
        <servlet-class>com.pearson.statsagg.webui.CreateMetricGroup</servlet-class>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateMetricGroup</servlet-name>
        <url-pattern>/CreateMetricGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NotificationGroups</servlet-name>
        <servlet-class>com.pearson.statsagg.webui.NotificationGroups</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationGroups</servlet-name>
        <url-pattern>/NotificationGroups</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NotificationGroupDetails</servlet-name>
        <servlet-class>com.pearson.statsagg.webui.NotificationGroupDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationGroupDetails</servlet-name>
        <url-pattern>/NotificationGroupDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateNotificationGroup</servlet-name>
        <servlet-class>com.pearson.statsagg.webui.CreateNotificationGroup</servlet-class>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateNotificationGroup</servlet-name>
        <url-pattern>/CreateNotificationGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgetMetrics</servlet-name>
        <servlet-class>com.pearson.statsagg.webui.ForgetMetrics</servlet-class>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetMetrics</servlet-name>
        <url-pattern>/ForgetMetrics</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Alerts</servlet-name>
        <servlet-class>com.pearson.statsagg.webui.Alerts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Alerts</servlet-name>
        <url-pattern>/Alerts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlertDetails</servlet-name>
        <servlet-class>com.pearson.statsagg.webui.AlertDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlertDetails</servlet-name>
        <url-pattern>/AlertDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateAlert</servlet-name>
        <servlet-class>com.pearson.statsagg.webui.CreateAlert</servlet-class>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAlert</servlet-name>
        <url-pattern>/CreateAlert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MetricRecentValues</servlet-name>
        <servlet-class>com.pearson.statsagg.webui.MetricRecentValues</servlet-class>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MetricRecentValues</servlet-name>
        <url-pattern>/MetricRecentValues</url-pattern>
    </servlet-mapping>
</web-app>
